@import 'setting.scss';

/* RESET */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

fieldset, img {
	border: 0;
}

address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
	font: inherit;
}

del, ins {
	text-decoration: none;
}

li {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before, q:after {
	content: '';
}

abbr, acronym {
	font-variant: normal;
	border: 0;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

legend {
	color: #000;
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

// ========================================== //

body, html {
	font-family: sans-serif;
	width: 100%;
	height: 100vh;
	height: calc(100 * var(--vh, 1vh));
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior-y: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

main {
	display: block;
}

::selection {
	color: #ccc;
	background: #666;
}

::-moz-selection {
	color: #ccc;
	background: #666;
}

// ========================================== //

html {
	font-size: 62.5%;
	color: $c_dgray;
	background: $c_bg;
}

@media (min-width:1300px) {
	html {
		font-size: .75vw;
	}

}

@media (min-width:1600px) {
	html {
		font-size: 12px;
	}

}

body {
	font-size: 1.4rem;
	@include font-default();

	&.invert .is-visible {
		color: $c_white;
	}

}

.scroll-window {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	height: calc(100 * var(--vh, 1vh));
	transform: translate(0, 0);
}

.next-container {
	.scroll-content {
		transform: none !important;
	}

}

img {
	vertical-align: bottom;
}

svg {
	transition: fill .4s ease-in-out;
	vertical-align: text-bottom;
}

a {
	transition: color .4s ease-in-out;
	text-decoration: none;
	color: $c_black;

	.invert & {
		color: $c_white;
	}

}


// ========================================== //

.a-uline {
	position: relative;
	padding: .3em .1em;

	&:before, &:after {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		content: '';
		transition: all .3s ease-in-out;
		transform-origin: 0 50%;
		background-color: $c_black;
	}

	&:before {
		opacity: .25;
	}

	&:after {
		transform: scaleX(0);
	}

	a:hover &, &:hover {
		&:after {
			transform: scaleX(1);
			transform-origin: 100% 50%;
		}

	}

	.invert & {
		&:before, &:after {
			background-color: $c_white;
		}

	}

}

// ========================================== //

.m-r {
	margin-right: .5em;
}

.in {
	position: relative;
	width: 100%;
	height: 100%;
}

.uppercase {
	text-transform: uppercase;
}

.flex {
	display: flex;
	align-items: center;
}

.t-wrap {
	display: inline-block;
}

.scroll-to {
	cursor: pointer;
}

.slot-chars {
	position: relative;
	overflow: hidden;

	.slot {
		span {
			display: inline-block;

			&.e {
				min-width: .4em;
			}

		}

	}

	.slot-t2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		span {
			transform: translateY(100%);
		}

	}

	.enter &, &.enter {
		span {
			transition: transform .6s cubic-bezier(.000, .175, .000, 1.000);
		}

		@for $i from 1 through 50 {
			span:nth-child(#{$i}) {
				transition-delay:calc(#{$i} * .02s);
			}

		}

		.slot-t1 {
			span {
				transform: translateY(-100%);
			}

		}

		.slot-t2 {
			span {
				transform: translateY(0%);
			}

		}

	}

}

// ========================================== //
// background color
// ========================================== //

.background {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background .4s ease-in-out;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.background-package {
	position: fixed;
	top: -10vh;
	left: 0;
	visibility: hidden;
	width: 100vw;
	height: 120vh;
	pointer-events: none;
	opacity: 0;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;

	.s-package & {
		visibility: visible;
	}
	.bg-img-body {
		opacity: 1;
	}

}

.s-maker, .s-products, .s-about {
	.background {
		background-color: $c_white;
	}

}

.s-visual2, .s-stores, .s-visual1, .s-concept, .s-mv {
	.background {
		background-color: $c_bg;
	}

}

.s-package {
	.background {
		background-color: $c_bgreen;
	}

}

.s-features {
	.background {
		background-color: $c_navy;
	}

}

.background-base {
	background-color: $c_bg;
}

.background-white {
	background-color: $c_white;
}

// ========================================== //
// img
// ========================================== //

.bg-img {
	position: absolute;
	width: 100%;
	height: 100%;

	&-body {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: center no-repeat;
		background-size: cover;
	}

}

.bg-img-body {
	transition: opacity .6s;
	opacity: 0;

	.is-inview & {
		opacity: 1;
	}

}

// ========================================== //

.wheight {
	min-height: 100vh;
	margin-bottom: 25vh;
}

.vheight {
	position: relative;
	padding-bottom: 44%;

	.js-parallax {
		top: -10%;
		height: 120%;
	}

}

.content-block {
	margin-right: $col*2;
	margin-left: $col*2;
}

// ========================================== //

.icon-up {
	transform: rotate(-90deg);
}

.icon-down {
	transform: rotate(90deg);
}

.icon-external {
	transform: rotate(-45deg) translate(-.1em, .2em);
	vertical-align: text-top;
}

// ========================================== //

.l-section-title {
	margin: 0 0 $col;
	padding-top: $col*2;
	text-align: center;

	.title {
		font-size: 9.5rem;
		transition: color .4s ease-in-out;
		color: $c_black;
		@include font-display();
	}

	.subt {
		font-size: 1.8rem;
		color: $c_gray;
	}

	.invert & {
		.title {
			color: $c_white;
		}

	}

}

.s-section-title {
	margin-bottom: 3em;

	.icon {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin-right: 20px;

		.icon-snow {
			width: 100%;
			height: 100%;
			vertical-align: baseline;
			fill: $c_blue;
		}

	}

	.invert & {
		.icon {
			.icon-snow {
				fill: $c_yellow;
			}

		}

	}

}

.block-title {
	font-size: calc(1.1rem + 1.6vw);
	margin-bottom: .75em;
	@include font-serif();
}

.block-body {
	margin-bottom: 3rem;
}

// ========================================== //
// button
// ========================================== //

.button {
	font-size: 1.5rem;
	position: relative;
	z-index: 1;
	// for safari

	display: flex;
	overflow: hidden;
	width: 15em;
	height: 4.2em;
	padding-bottom: 2px;
	transition: color .4s ease-in-out, border-color .4s ease-in-out;
	color: $c_navy;
	border: 2px solid $c_navy;
	border-radius: 4em;
	align-items: center;
	justify-content: center;

	&.size-l {
		width: 16em;
		height: 4em;
		border-radius: 4em;
	}

	& &-bg {
		position: absolute;
		bottom: 0;
		left: -5%;
		width: 110%;
		transition: transform .4s cubic-bezier(.000, .175, .000, 1.000);
		transform: scaleY(0);
		transform-origin: 0 0;
		border-radius: 25px;
		background-color: $c_navy;
	}

	& &-i {
		position: relative;
		width: 22px;
		height: 22px;
		margin-right: 10px;

		svg {
			width: 24px;
			height: 24px;
			vertical-align: baseline;
			fill: $c_navy;
		}

	}

	& &-t {
		position: relative;
	}

	&:hover {
		color: $c_white;
	}

	&:hover &-bg {
		transform: scaleY(1.1);
		transform-origin: 0 100%;
	}

	&:hover &-i {
		svg {
			fill: $c_white;
		}

	}

	.invert & {
		color: $c_white;
		border-color: $c_white;

		.button-bg {
			background-color: $c_white;
		}

		.button-i {
			svg {
				fill: $c_white;
			}

		}

		&:hover {
			color: $c_dgray;
		}

		&:hover .button-i {
			svg {
				fill: $c_dgray;
			}

		}

	}

}

// ========================================== //
// circle button
// ========================================== //

.circle-button {
	position: relative;

	.circle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all .6s ease-in-out;
		transform: rotate(90deg);
		opacity: 0;
		fill: none;
		stroke: $c_black;
		stroke-dasharray: 880;
		stroke-dashoffset: -440;
		stroke-width: 4px;
	}

	.txt {
		position: relative;
	}

	&:hover {
		.circle {
			transform: rotate(360deg);
			opacity: 1;
			stroke-dashoffset: 0;
		}

	}

}

.accordion.circle-button, .mb-accordion.circle-button {
	.circle {
		stroke-width: 4px;
	}

	&:hover {
		.circle {
			transform: rotate(90deg);
			opacity: 0;
			stroke-dashoffset: -440;
		}

	}

	.ac-toggle:hover {
		& ~ .toggle-icon {
			.circle {
				transform: rotate(360deg);
				opacity: 1;
				stroke-dashoffset: 0;
			}

		}

	}

}

// ========================================== //
// Scrolling interactions
// ========================================== //

.rise-block {
	transition: transform .8s cubic-bezier(.47, .04, .29, 1.03), opacity .8s ease;
	transform: translateY(100px);
	opacity: 0;

	.is-inview & {
		transform: translateY(0);
		opacity: 1;
	}

}

.rise-txt, .f-rise-txt {
	display: inline-block;
	overflow: hidden;

	.rt-in {
		display: block;
		transition: transform .8s cubic-bezier(.47, .04, .29, 1.03), opacity .8s ease;
		transform: translateY(100px) rotate(10deg);
		transform-origin: 0 0;
		opacity: 0;
	}

	.is-inview & {
		.rt-in {
			transform: translateY(0) rotate(0deg);
			opacity: 1;
		}

	}

}

.rise-txt-p, .f-rise-txt-p {
	display: inline-block;

	.rt-in {
		display: block;
		transition: transform .8s cubic-bezier(.47, .04, .29, 1.03), opacity .8s ease;
		transform: translateY(100px);
		transform-origin: 0 0;
		opacity: 0;
	}

	.is-inview & {
		.rt-in {
			transform: translateY(0);
			opacity: 1;
		}

	}

}

// ========================================== //
// SPLASH
// ========================================== //

.splash {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $c_white;

	&-inner {
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	.splash-logo {
		position: absolute;
		top: 15vh;
		right: 5vh;
		width: $col*6;
		height: 46vh;
		opacity: 0;

		.logo-tate {
			width: 100%;
			height: 100%;
			fill: $c_dgray;
		}

	}

	.splash-copy {
		position: absolute;
		bottom: 15vh;
		left: 5vh;
		width: $col*6;
		height: calc(100px + 5vw);
		opacity: 0;
		background: url(../img/copy-hi.png) no-repeat 50% 50%;
		background-size: contain;
	}

	.splash-indicator {
		position: absolute;
		right: 5vh;
		bottom: 15vh;
		width: $col*6;
		height: $col*.7;
		fill: none;
		stroke: $c_dgray;
		stroke-width: 2px;
		stroke-dasharray: 880;
		stroke-dashoffset: -880;
	}

}

// ========================================== //
// NAVI
// ========================================== //

.pagenavi {
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	visibility: hidden;
	overflow: hidden;
	width: $col*5;
	height: 100%;
	transition: all .8s ease-in-out;
	color: $c_dgray;

	a {
		color: $c_dgray;
	}

	&-ovarlay {
		position: fixed;
		z-index: 8;
		top: 0;
		right: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		transition: all .6s ease-in-out;
		opacity: 0;
		background-color: $c_gray;
	}

	.is-navi-open & {
		visibility: visible;

		&-ovarlay {
			visibility: visible;
			opacity: .2;
		}

	}

	&-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all .8s cubic-bezier(.47, .04, .29, 1.03);
		background-color: $c_white;
		clip-path: polygon(130% 0%, 105% 100%, 100% 100%, 100% 0%);

		.is-navi-open & {
			clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
		}

	}

	&-inner {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: $col $col $col/2;
		transition: all .8s ease-in-out;
		text-align: right;
		align-items: flex-end;
		justify-content: space-between;

		li {
			transition: all .3s ease-in-out;
			transform: translate(40%, 0%);
			opacity: 0;
		}

		.is-navi-open & {
			li {
				transform: translate(0%, 0%);
				opacity: 1;
			}

			@for $i from 1 through 10 {
				li:nth-child(#{$i}) {
					transition:all .6s ease-in-out calc(#{$i} * .05s);
				}

			}

		}

	}

	&-menu {
		display: flex;
		flex-direction: column;

		height:calc(100vh - #{$col});
		justify-content: center;

		span {
			display: block;
		}

		.en {
			font-size: 2rem;
			transition: all .3s cubic-bezier(.02, .01, 0, 1.01);
			@include font-display();
		}

		.ja {
			font-size: 1.1rem;
			color: $c_gray;
		}

		li {
			margin: 2em 0;
		}

	}

	&-social {
		font-size: 1.2rem;
		@include font-display();

		a {
			display: block;
		}

		li {
			margin: 2em 0;
		}

	}

}

.page-origin {
	transition: all .6s ease-in-out;

	.is-navi-open & {
		transition: all .8s ease-in-out;
		transform: translate(-10%, 0%);
	}

}

// ========================================== //
// HEADER
// ========================================== //

.site-logo {
	position: fixed;
	z-index: 10;
	top: 5vh;
	left: 5vh;
	visibility: visible;
	padding: 0 1em;
	transition: transform .4s ease-out, opacity .4s ease-out, visibility 0s ease 0s;

	.scroll-down.scroll-start & {
		visibility: hidden;
		transition: transform .4s ease-in, opacity .4s ease-in, visibility 0s linear .5s;
		transform: translateY(-4px);
		opacity: 0;
	}

	svg {
		width: 2vh;
		height: 20vh;
		fill: $c_dgray;
	}

	.invert & {
		svg {
			fill: $c_white;
		}

	}

}

.site-social {
	font-size: 1.1rem;
	position: fixed;
	z-index: 7;
	top: 5vh;
	right: calc(5vh + 10em);
	overflow: hidden;
	transition: right .4s ease-out, transform .4s ease-out, opacity .4s ease-out, visibility 0s ease 0s;

	.scroll-down.scroll-start & {
		visibility: hidden;
		transition: transform .4s ease-in, opacity .4s ease-in, visibility 0s linear .5s;
		transform: translateY(-4px);
		opacity: 0;
	}

	& > ul {
		transition: transform .4s ease-in-out;

		li {
			margin: 0 .2em;
		}

	}

	svg {
		width: 20px;
		height: 20px;
		vertical-align: bottom;
		fill: $c_dgray;
	}

	a {
		display: block;
		padding: 1em;
	}

	.invert & {
		.icon svg {
			fill: $c_white;
		}

		.circle {
			stroke: $c_white;
		}

	}

}

.site-navi-button {
	font-size: 1.3rem;
	position: fixed;
	z-index: 10;
	top: 5vh;
	right: 5vh;
	width: 5em;
	transition: all .2s ease-in-out;
}

.pagenavi-toggle, .page-return {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 2.5em;
	transition: transform .4s ease-out, opacity .4s ease-out, visibility 0s ease 0s;
	white-space: nowrap;

	.invert & {
		color: $c_white;
	}

}

.page-return {
	transform: translateY(100%);
}

.pagenavi-toggle, .page-return, .profile-toggle-body {
	font-weight: 600;
	padding: .5em;
	cursor: pointer;
	pointer-events: auto;
	color: $c_dgray;

	a {
		color: $c_dgray;
	}

	&-text {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.toggle-text {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		overflow: hidden;
		width: 100%;
		height: 100%;
		transition: color .6s ease-in-out, transform .4s ease-in-out;
		white-space: nowrap;
		align-items: center;
		justify-content: center;

		&.off {
			transform: translateY(0%);
		}

		&.on {
			transform: translateY(100%);
		}

	}

	.invert & {
		color: $c_white;
	}

	.is-navi-open &, .is-profile-open & {
		color: $c_dgray;

		.toggle-text.off {
			transform: translateY(-100%);
		}

		.toggle-text.on {
			transform: translateY(0%);
		}

	}

}

.site-navi-button, .profile-toggle {
	overflow: hidden;
	height: calc(2.5em + 8px);
	pointer-events: none;

	&-body {
		position: relative;
		overflow: hidden;
		height: 2.5em;
	}

	.underline {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 200px;
		height: 15px;
		pointer-events: none;

		.u-border, .u-wave {
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			transition: background .4s ease-in-out, transform .4s ease-in-out;
			transform: scaleX(0);
		}

		.wave {
			transition: stroke .6s ease-in-out;
			stroke: $c_black;
			stroke-width: 1;
		}

		.is-loaded & {
			.u-border, .u-wave {
				transform: scaleX(1);
			}

		}

		.u-border {
			bottom: 5px;
			width: 100%;
			height: 1px;
			background: $c_black;
		}

		.u-wave {
			bottom: 20px;
			opacity: 0;

			svg {
				width: 200px;
				height: 50px;
			}

			.wave {
				animation: wave 1s ease-in-out infinite alternate;
				animation-delay: -.25s;
			}

			@keyframes wave {
				to {
					d: path('M 0 40 Q 20 42.5 40 40 Q 60 37.5 80 40');
				}

			}

		}

	}

	&:hover {
		.underline {
			.u-border {
				opacity: 0;
			}

			.u-wave {
				opacity: 1;
			}

			.u-wave {
				animation: waving 1s linear infinite;

				@keyframes waving {
					to {
						transform: translateX(-15px);
					}

				}

			}

		}

	}

	.invert & {
		.underline {
			.u-border {
				background-color: $c_white;
			}

			.wave {
				stroke: $c_white;
			}

		}

	}

	.is-navi-open & {
		.underline {
			.u-border {
				background-color: $c_black;
			}

			.wave {
				stroke: $c_black;
			}

		}

	}

}

// for gallery page
.profile-toggle {
	font-size: 1.3rem;
	position: absolute;
	z-index: 10;
	bottom: 5vh;
	left: $col/2;
	width: 7.5em;
	transition: width .6s;

	.is-profile-open & {
		width: 5.5em;
	}

}

// page unique

.page-gallery {
	.site-navi-button {
		width: 7.5em;
	}

	.site-social {
		right: calc(5vh + 12em);
	}

	.pagenavi-toggle {
		transform: translateY(-100%);
	}

	.page-return {
		transform: translateY(0%);
	}

}

.page-sub {
	.site-navi-button {
		width: 7.5em;
	}

	.site-social > ul, .pagenavi-toggle {
		transform: translateY(-100%);
	}

	.page-return {
		transform: translateY(0%);
	}

}


// ========================================== //
// FOOTER
// ========================================== //

.sct-footer {
	padding: $col*3 0 $col*4;
	color: $c_gray;
	background-color: $c_white;

	body.invert & {
		color: $c_gray;
	}

	a {
		position: relative;
		display: block;
		color: $c_black;
	}

}

.footer-line1 {
	margin-bottom: $col*2;
	justify-content: space-between;
}

.footer-line2 {
	font-size: 1.2rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-logo {
	width: 50%;

	img {
		width: 100%;
		height: auto;
	}

}

.footer-gotop {
	font-size: 2em;
	color: $c_black;
	@include font-display();

	.icon {
		display: inline-block;
		margin-left: .25em;

		img {
			width: 50px;
		}

	}

}

.footer-copyright {
	margin: 1em 0;
}

.footer-corp {
	min-width: $col*4;
	margin: 1em 0;

	li {
		margin: 0 1vw;
	}

	a {
		.icon {
			margin-right: -.3em;
		}

	}

}

.footer-social {
	margin: 1em 0;

	svg {
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}

	.i-tw {
		margin-bottom: 1px;
	}

	.list {
		display: flex;
	}

	.border {
		display: inline-block;
		width: 3vw;
		max-width: 5em;
		height: 1px;
		margin: 0 .75em 0 1.5em;
		opacity: .5;
		background-color: $c_gray;
	}

	a {
		display: block;
		margin-left: .2em;
		padding: 1em 1em;
	}

}

// ========================================== //
// wave
// ========================================== //

.mv-wave {
	position: absolute;
	top: -$col*1.5;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	.svg-wave {
		.snow {
			fill: url(#gradient);
		}

	}

}

.about-wave {
	position: relative;
	width: 100%;
	padding-top: $col;

	&-copy {
		position: absolute;
		top: $col/2;
		right: $col*3;
		width: $col*2;
		height: $col*2;
		background: url(../img/copy-hi.png) no-repeat 0 0;
		background-size: contain;
	}

	.pict-2 {
		position: absolute;
		top: 0;
		right: $col*1.5;
		width: $col*1.5;
		height: $col*1.5;
		fill: $c_blue;
	}

	.svg-wave {
		margin-top: 0;
		margin-bottom: -5vw;

		.snow {
			fill: $c_white;
		}

	}

	.pict-3 {
		position: absolute;
		right: $col*2;
		bottom: -$col*.5;
		width: $col*4;
		height: $col*2;
		fill: $c_blue;
	}

}

.svg-wave {
	width: 100%;

	.shadow {
		fill: $c_blue;
	}

}

// ========================================== //
// accordion
// ========================================== //

.accordion {
	.ac-header {
		cursor: pointer;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	.ac-body {
		z-index: 2;
		overflow: hidden;
		max-height: 20em;
		transition: all .4s ease-in-out;
	}

	.ac-toggle {
		z-index: 1;
		opacity: 0;

		&:checked {
			& ~ .ac-body {
				max-height: 0;
				opacity: 0;
			}

		}

	}

}

.accordion, .mb-accordion {
	position: relative;

	.ac-body {
		position: relative;
		opacity: 1;
	}

	.toggle-icon {
		position: absolute;
		top: 2rem;
		right: 2rem;
		width: 6rem;
		height: 6rem;
		padding: 2rem;

		.icon {
			position: relative;
			width: 100%;
			height: 100%;
		}

		.el1, .el2, .el3 {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 2px;
			transition: all .4s ease-in-out;
			background-color: $c_black;
		}

		.el1 {
			transform: translate(0, 0) scaleX(1) rotateZ(30deg);
			opacity: 0;
		}

		.el2 {
			transform: translate(0, 0) scaleY(1) rotateZ(120deg);
			opacity: 0;
		}

		.el3 {
			transition-delay: .2s;
			transform: translate(0, 0) scaleX(1) rotateZ(0deg);
			opacity: 1;
		}

	}

	.ac-toggle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;

		&:checked {
			& ~ .toggle-icon {
				.el1 {
					transition-delay: .2s;
					transform: translate(0, 0) scaleX(1);
					opacity: 1;
				}

				.el2 {
					transition-delay: .2s;
					transform: translate(0, 0) scaleY(1) rotateZ(90deg);
					opacity: 1;
				}

				.el3 {
					transition-delay: 0s;
					transform: translate(0, 0) scaleX(1) rotateZ(-30deg);
					opacity: 0;
				}

			}

		}

	}

}



// ========================================== //
// IE
// ========================================== //

.alert {
	display: none;
}

.oldbrowser {
	.splash, .popup-banner, .site-navi-button {
		display: none;
	}

	.site-social {
		right: 5vh;
	}

	.sct-mv {
		background: url(../img/hero.jpg) no-repeat 50% 50% / cover;
	}

	.fixed-banner-button-inner {
		transform: scale(1);
		opacity: 1;
	}

}

.alert {
	&.noscript, .oldbrowser & {
		position: fixed;
		z-index: 1000;
		top: 50%;
		left: 50%;
		display: block;
		max-width: 100%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

		.alert-body {
			padding: 40px;
			background-color: #fff;
		}

		a {
			text-decoration: underline;
		}

	}

}


