@import 'setting.scss';

//============================================================
// iPad 横
//============================================================
@media (max-width:1024px) {

	// ========================================== //
	// COMMON
	// ========================================== //

	body, html {
		overflow: hidden;
	}

	.scroll-window {
		position: relative;
		overflow-x: hidden;
		overflow-y: scroll;

		&.next-container {
			position: fixed;
		}

	}

	.scroll-height {
		display: none;
	}

	.scroll-content {
		transform: none!important;
	}

	// ========================================== //

	.content-block {
		margin-right: $col;
		margin-left: $col;
	}

	.background {
		display: none;
	}

	.background-base {
		background-color: transparent;
	}

	// ========================================== //
	// Scrolling interactions
	// ========================================== //

	.rise-block {
		transition: transform .7s cubic-bezier(.47, .04, .29, 1.03), opacity .7s ease;
		transform: translateY(40px);
	}

	.rise-txt, .f-rise-txt {
		.rt-in {
			transition: transform .7s cubic-bezier(.47, .04, .29, 1.03), opacity .7s ease;
			transform: translateY(40px) rotate(4deg);
		}

	}

	.rise-txt-p, .f-rise-txt-p {
		.rt-in {
			transition: transform .6s cubic-bezier(.47, .04, .29, 1.03), opacity .6s ease;
			transform: translateY(40px);
		}

	}

	// ========================================== //
	// SPLASH
	// ========================================== //

	.splash {
		.splash-logo {
			top: $col*2;
			right: 0;
			height: 40vh;
		}

		.splash-copy {
			bottom: $col*2;
			left: $col/2;
			height: $col*4;
		}

		.splash-indicator {
			right: 0;
			bottom: $col*2;
			height: $col;
		}

	}

	// ========================================== //
	// NAVI
	// ========================================== //

	.pagenavi {
		width: $col*7;
	}

	.pagenavi-toggle, .page-return, .profile-toggle-body {
		.toggle-text {
			transition: color .2s ease-in-out, transform .4s ease-in-out;
		}

	}

	// ========================================== //
	// HEADER
	// ========================================== //

	.site-logo {
		top: $col;
		left: $col;
		padding: 0 .5em;

		.scroll-start & {
			visibility: hidden;
			transition: transform .4s ease-in, opacity .4s ease-in, visibility 0s linear .5s;
			transform: translateY(-4px);
			opacity: 0;
		}

	}

	.site-social {
		top: $col;
		right:calc(#{$col} + 10em);

		a {
			padding: .5em 1em;
		}

		.scroll-start & {
			visibility: hidden;
			transition: transform .4s ease-in, opacity .4s ease-in, visibility 0s linear .5s;
			transform: translateY(-4px);
			opacity: 0;
		}

	}

	.site-navi-button {
		top:calc(#{$col} - .2em);
		right:calc(#{$col} - .2em);
		margin: .25em 1em;
	}

	.site-navi-button, .profile-toggle {
		height: calc(2.2em + 8px);

		&:hover {
			&:before, &:after {
				animation: none;
			}

		}

		&:before {
			display: none;
		}

		&:after {
			bottom: -1px;
			height: 1px;
			transition: background-color .4s ease-in-out;
			opacity: 1;
			background: $c_dgray;
		}

		.invert & {
			&:after {
				opacity: 1;
				background: $c_white;
			}

		}

		.is-navi-open & {
			&:after {
				opacity: 1;
				background: $c_dgray;
			}

		}

	}

	// ========================================== //
	// FOOTER
	// ========================================== //

	.sct-footer {
		padding: $col*3 0 $col*3;
	}

	.footer-line1 {
		margin-bottom: $col*3;
	}

	.footer-gotop {
		transform:translateY(-#{$col*2});

		.text {
			display: none;
		}

		.icon {
		}

	}

	.footer-corp {
		min-width: $col*6;
		margin: 1em 0;
		order: 2;

		li {
			margin: 0 1vw 0 2vw;
		}

	}

	.footer-social {
		width: 100%;
		margin: 1em 0 $col*2;
		order: 0;

		.title {
			width: 8em;
		}

		.flex {
			width: 100%;
			justify-content: space-between;
		}

		.border {
			width: 80%;
			max-width: none;
			margin: 0 1.5em;
		}

	}

	.footer-copyright {
		order: 1;
	}

	// ========================================== //
	// accordion
	// ========================================== //

	.feature-mb-ac.mb-accordion {
		.ac-header, .toggle-icon, .ac-toggle {
			display: block;
		}

	}

	.mb-accordion {
		.ac-header {
			cursor: pointer;
			user-select: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

		.ac-body {
			z-index: 2;
			overflow: hidden;
			max-height: 100em;
			transition: all .4s ease-in-out;
		}

		.ac-toggle {
			z-index: 1;
			opacity: 0;

			&:checked {
				& ~ .ac-body {
					max-height: 0;
					opacity: 0;
				}

			}

		}

	}

	// ========================================== //
	// HOME - MV
	// ========================================== //

	.sct-mv {
		height: 95vh;
		height: calc(95 * var(--vh, 1vh));

		.bg-img-body {
			height: 100%;
			transform: scale(1.1);
		}

	}

	.mv-label {
		bottom: 57%;
		left: $col*11;
		width: $col*3;
		height: $col*3;

		.txt {
			font-size: 2.5vw;
		}

	}

	.mv-content {
		top: auto;
		bottom: 10vh;
		left: $col*3;
		display: flex;
		flex-direction: column;
		width: $col*10;
		height: 20vh;
		height: calc(20 * var(--vh, 1vh));
		justify-content: center;

		.bg-img-body {
			height: 100%;
		}

	}

	.mv-scroll {
		position: fixed;
		z-index: 4;
		bottom: $col;
		left: $col;
		display: block;
		transition: all .2s ease;

		.scroll-start & {
			opacity: 0;
		}

	}

	// ========================================== //
	// HOME - wave
	// ========================================== //

	.about-wave {
		margin-top: -$col;
		padding-top: $col*2;

		&-copy {
			top: $col/2;
			right: $col*2;
			width: $col*3;
			height: $col*3;
		}

		.pict-2 {
			top: $col;
			right: $col*12;
			width: $col*3;
			height: $col*3;
		}

		.svg-wave {
			margin-top: 5vw;
		}

		.pict-3 {
			right: $col*2;
			bottom: -$col;
			width: $col*6;
			height: $col*3;
		}

	}

	// ========================================== //
	// HOME - CONCEPT
	// ========================================== //

	.sct-concept {
		padding: $col*3 0;

		.concept {
			font-size: 2vw;
			width: $col*14;
		}

		.trees {
			position: absolute;
			z-index: 2;
			top: -$col*2;
			left: $col/2;
			display: block;
			width: $col*2;
		}

		.svg-snow {
			position: absolute;
			z-index: 1;
			top: $col*1.5;
			left: $col*14;
			display: block;
			width: $col*1.5;
			height: $col*1.5;
			opacity: .5;
			fill: $c_lblue;
		}

	}

	.banner {
		width: $col*16;
		min-width: auto;

		.banner-bg {
			height: 110%;
		}

	}

	// ========================================== //
	// HOME - LATEST NEWS
	// ========================================== //

	.sct-latest {
		min-height: auto;

		.pict {
			width: $col*5;

			.pict-1 {
				width: 60%;
			}

		}

		.latest-news {
			width: $col*9;
		}

	}

	// ========================================== //
	// HOME - ABOUT
	// ========================================== //

	.sct-about {
		min-height: auto;
		margin: 0;
		padding-bottom: 10vh;

		.about-body {
			width: $col*10;

			.about-head {
				font-size: 2.4rem;
			}

			.about-text {
				margin-right: 2em;
				margin-bottom: 3em;
			}

		}

		.about-img {
			top: 15%;
			right: $col;
			width: $col*5;
			height: $col*7;
			min-height: auto;
		}

	}

	// ========================================== //
	// HOME - PRODUCTS
	// ========================================== //

	.sct-products {
		margin-bottom: 0;
		padding: $col 0 $col*2;
		background-color: $c_white;

		.products-note {
			margin-bottom: 0;
		}

	}

	// ========================================== //
	// HOME - FEATURE
	// ========================================== //

	.sct-features {
		margin-bottom: 0;
		padding: $col*2 0;
		color: $c_white;
		background-color: $c_navy;

		.features {
			&.grid {
				display: block;
			}

			.features-header {
				margin-right: $col;
				margin-bottom: -$col/2;
				margin-left: $col;

				.features-select {
					display: none;
				}

			}

			.features-tabs {
				height: auto;
				margin-top: $col;
				margin-right: $col;
				margin-left: $col;
			}

			.features-tab {
				position: relative;
				visibility: visible;
				height: auto;
				opacity: 1 !important;

				.features-tab-grid {
					// display: block;
				}

			}

			.feature-img {
				display: grid;
				width: 100%;
				margin-bottom: $col;
				grid-column: 1/9;
			}

			.feature-img-s {
				width: 60%;
				margin-bottom: $col/2;
				padding-bottom: 40%;
			}

			.feature-text {
				grid-column: 10/19;
			}

			.feature-tab-title {
				font-size: 2rem;
			}

		}

		.s-section-title .icon .icon-snow {
			fill: $c_yellow;
		}

	}

	//
	.sticky-content-area[data-area='features'],
	.sticky-content-area[data-area='package'],
	.sticky-content-area[data-area='maker']
	{
	    height: auto;
	    min-height: auto;
	    margin: 0;
	    padding: 0;
	}

	.sticky-content {
		display: flex;
		height: auto;
		min-height: auto;
		padding: 0;
		padding: $col 0;
		align-items: center;
		transform: none!important;
		visibility: visible!important;
	}

	.features .s-section-title,
	.features-option-body,
	.features-tab,
	.package-img,
	.package-text,
	.package-text .s-section-title,
	.package-text .block-title,
	.package-text .block-body,
	.package-text .block-buttonarea,
	.maker-img,
	.maker-text,
	.maker-text .s-section-title,
	.maker-text .block-title,
	.maker-text .block-body,
	.feature-img.double .img1,
	.feature-img.double .img2,
	.feature-img.single .img1,
	.feature-img.single .img2,
	.feature-img-s,
	.feature-tab-title,
	.feature-tab-body
	{
	    transform: none !important;
	    opacity: 1 !important;
	}


	//
	.feature-mb-ac.mb-accordion {
		padding: $col/2 0;
		transition: border .4s ease-in-out;

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 1px;
			content: '';
			opacity: .2;
			background-color: $c_white;
		}

		.ac-name {
			&-title {
				font-size: 3rem;
				@include font-display();
			}

			&-subt {
				font-size: 1.4rem;
				@include font-serif();
			}

		}

		.ac-header {
			position: relative;
			margin: 0 1em;
			padding: 0 1em;

			.number {
				position: absolute;
				right: 100%;
				bottom: 1.5em;
			}

		}

		.ac-body {
			padding: $col 0;
		}

		.toggle-icon {
			top: $col/2;
			right: 0;

			.el1, .el2, .el3 {
				background-color: $c_white;
			}

			.circle {
				stroke: $c_white;
			}

		}

		.ac-toggle {
			&:checked {
				& ~ .ac-body {
					padding: 0;
				}

			}

		}

	}

	// ========================================== //
	// HOME - PACKAGE
	// ========================================== //

	.sct-package {
		padding: $col*2 0 $col*2;
		background-color: $c_bgreen;

		.s-section-title .icon .icon-snow {
			fill: $c_yellow;
		}

	}

	.package {
		&.grid {
			margin-right: $col*2;
			margin-left: $col*2;
			grid-template-columns: repeat(12, 1fr);
		}

		.package-img {
			grid-column: 1/6;
		}

		.package-text {
			grid-column: 7/13;
		}

		.button {
			color: $c_white;
			border-color: $c_white;

			.button-i svg {
				fill: $c_white;
			}

		}

	}

	// ========================================== //
	// HOME - MAKER
	// ========================================== //

	.sct-maker {
		padding: $col*2 0;
		color: $c_dgray !important;
		background-color: $c_white;

		.s-section-title .icon .icon-snow {
			fill: $c_blue;
		}

	}

	.maker {
		&.grid {
			margin-right: $col*2;
			margin-left: $col*2;
		}

		.maker-img {
			grid-column: 9/13;
		}

		.maker-text {
			grid-column: 1/8;
		}

	}

	// ========================================== //
	// HOME - STORE
	// ========================================== //

	.sct-stores {
		padding-bottom: $col*3;
	}

	.store-ac.accordion {
		padding: 0;

		.ac-header {
			padding: $col/2;
		}

		.store-name {
			font-size: 3vw;
			margin-bottom: 1rem;
		}

		.ac-body {
			padding: 0 $col $col/2;
		}

		.ac-toggle {
			&:checked {
				& ~ .ac-body {
					padding: 0 $col;
				}

			}

		}

	}

	// ========================================== //
	// HOME - NEWS
	// ========================================== //

	.sct-news {
		min-height: auto;
		padding: $col 0 $col*2;

		.news {
			&.grid {
				display: block;
			}

		}

		.news-title {
			margin: $col*2 0;

			.l-section-title {
				display: block;
				transform: rotateZ(0) translate(0, 0);

				.title {
					font-size: 10vw;
					margin-right: 0;
				}

			}

		}

		.news-body {
			grid-column: 3/13;
		}

		.news-archives {
			.news-post {
				padding: .5em;

				p {
					font-size: .95em;
					margin: 1em 0;
				}

			}

		}

	}

	// ========================================== //
	// HOME - POPUP
	// ========================================== //

	.popup-banner {
		&-text {
			.arrow {
				stroke-width: 2px;
			}

		}

	}

	.fixed-banner-button {
		right: 4vh;
		bottom: 4vh;
	}

	// ========================================== //
	// SUBPAGE - MV
	// ========================================== //

	.sct-pagetop {
		height: 90vh;
		height: calc(90 * var(--vh, 1vh));
	}

	.pagetop-content {
		.page-title {
			font-size: 8vw;
		}

		.page-title-ja {
			font-size: 2vw;
		}

	}

	// ========================================== //
	// SUBPAGE - wave
	// ========================================== //

	.pagetop-wave {
		.trees {
			width: $col*2;
			transform: translate(-$col, 0);
		}

	}

	// ========================================== //
	// SUBPAGE : TERMS
	// ========================================== //

	.terms-foreword {
		font-size: 1.3rem;
		padding: $col*2 0;
	}

	.terms-article {
		font-size: 1.3rem;
		margin: 0;
		padding: $col*2 0;

		.terms-data {
			grid-template-columns: $col*5 $col*9;

			dt {
				font-size: 1.5rem;
				line-height: 1.7;
			}

		}

	}

	// ========================================== //
	// SUBPAGE : GALLERY
	// ========================================== //

	.gallery-top {
		height: 50vh;
		height: calc(50 * var(--vh, 1vh));

		.bg-img {
		}

	}

	.gallery-intro {
		padding: $col*2;

		&-inner {
			grid-template-columns: $col*5 $col*7;
			grid-gap: 2em;
		}

		&-img {
			position: relative;
			width: $col*4;
			height: $col*5.3333;
			margin-bottom: 1em;
		}

		&-head {
			h2 {
				font-size: 2em;
				margin-bottom: $col;
			}

		}

		&-body {
			font-size: 1.4rem;

			p {
				margin: 0 0 2em;
			}

		}

	}

	.gallery-main {
		display: block;
		height: auto;
		padding: $col 0 0;

		.gallery-head {
			font-size: 2em;
			line-height: 2;
			position: relative;
			top: 0;
			left: $col*1.5;
			height: auto;
			margin-top: 0;
			pointer-events: auto;
		}

		.profile-toggle {
			font-size: 1.2rem;
			position: relative;
			bottom: auto;
			left: $col*1.5;
			display: inline-block;
			width: auto;

			&:before, &:after {
				display: none;
			}

			.off {
				position: relative;
				text-decoration: underline;
			}

		}

	}

	.gallery-slider {
		.slide {
			width: 80vw;
			height: 100vw;
			max-height: auto;
			margin: $col auto !important;
		}

	}

	.slide-wrap {
		width: 100vw;
		cursor: grab;

		&.is-dragging {
			cursor: grabbing;
		}

		.slide-body {
			display: block;
			width: 100vw !important;
			margin: 0 !important;
		}

		.slide {
		}

		.progress {
			display: none;
		}

	}

	.gallery-profile {
		position: relative;
		display: block;
		visibility: visible;
		width: 100vw;
		height: auto;
		padding: $col*2 $col $col*3;
		background-color: $c_lgray;

		&-bg, &-ovarlay {
			display: none;
		}

		&-head, &-body, .sct-description {
			transform: none;
			opacity: 1;
		}

		.sct-description {
			position: relative;
			top: auto;
			left: auto;
			margin-bottom: $col;
		}

		&-inner {
		}

		&-head {
			margin-bottom: $col;

			.name {
				font-size: 2em;
			}

			.year {
				font-size: 1.4rem;
			}

		}

	}

	.gallery-footer {
		height: 50vh;
	}


}
