<template>
  <div data-barba="container" data-barba-namespace="sub">
    <div class="scroll-window">
      <div class="scroll-content js-scrollAll">
        <div class="page-origin">
          <section class="sct-top" data-sct="top"></section>

          <section class="sct-pagetop background-base flex" data-sct="pagetop">
            <div class="pagetop-content">
              <h2 class="page-title">Page Not Found</h2>
              <h3 class="page-title-ja">ページが見つかりませんでした</h3>
            </div>

            <div class="pagetop-wave">
              <svg class="svg-snow snow1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <g class="snowflake"><rect x="32.5" y="5.5" width="3" height="29" /><rect x="32.5" y="5.5" width="3" height="29" transform="translate(34.32 -19.44) rotate(60)" /><rect x="32.5" y="5.5" width="3" height="29" transform="translate(68.32 0.56) rotate(120)" /><rect x="64.5" y="5.5" width="3" height="29" /><rect x="64.5" y="5.5" width="3" height="29" transform="translate(50.32 -47.16) rotate(60)" /><rect x="64.5" y="5.5" width="3" height="29" transform="translate(116.32 -27.16) rotate(120)" /><rect x="16.5" y="35.5" width="3" height="29" /><rect x="16.5" y="35.5" width="3" height="29" transform="translate(52.3 9.41) rotate(60)" /><rect x="16.5" y="35.5" width="3" height="29" transform="translate(70.3 59.41) rotate(120)" /><rect x="48.5" y="35.5" width="3" height="29" /><rect x="48.5" y="35.5" width="3" height="29" transform="translate(68.3 -18.3) rotate(60)" /><rect x="48.5" y="35.5" width="3" height="29" transform="translate(118.3 31.7) rotate(120)" /><rect x="80.5" y="35.5" width="3" height="29" /><rect x="80.5" y="35.5" width="3" height="29" transform="translate(84.3 -46.01) rotate(60)" /><rect x="80.5" y="35.5" width="3" height="29" transform="translate(166.3 3.99) rotate(120)" /><rect x="32.5" y="65.5" width="3" height="29" /><rect x="32.5" y="65.5" width="3" height="29" transform="translate(86.28 10.56) rotate(60)" /><rect x="32.5" y="65.5" width="3" height="29" transform="translate(120.28 90.56) rotate(120)" /><rect x="64.5" y="65.5" width="3" height="29" /><rect x="64.5" y="65.5" width="3" height="29" transform="translate(102.28 -17.16) rotate(60)" /><rect x="64.5" y="65.5" width="3" height="29" transform="translate(168.28 62.84) rotate(120)" /></g>
              </svg>
              <svg class="svg-snow snow2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <g class="snowflake"><rect x="32.5" y="5.5" width="3" height="29" /><rect x="32.5" y="5.5" width="3" height="29" transform="translate(34.32 -19.44) rotate(60)" /><rect x="32.5" y="5.5" width="3" height="29" transform="translate(68.32 0.56) rotate(120)" /><rect x="64.5" y="5.5" width="3" height="29" /><rect x="64.5" y="5.5" width="3" height="29" transform="translate(50.32 -47.16) rotate(60)" /><rect x="64.5" y="5.5" width="3" height="29" transform="translate(116.32 -27.16) rotate(120)" /><rect x="16.5" y="35.5" width="3" height="29" /><rect x="16.5" y="35.5" width="3" height="29" transform="translate(52.3 9.41) rotate(60)" /><rect x="16.5" y="35.5" width="3" height="29" transform="translate(70.3 59.41) rotate(120)" /><rect x="48.5" y="35.5" width="3" height="29" /><rect x="48.5" y="35.5" width="3" height="29" transform="translate(68.3 -18.3) rotate(60)" /><rect x="48.5" y="35.5" width="3" height="29" transform="translate(118.3 31.7) rotate(120)" /><rect x="80.5" y="35.5" width="3" height="29" /><rect x="80.5" y="35.5" width="3" height="29" transform="translate(84.3 -46.01) rotate(60)" /><rect x="80.5" y="35.5" width="3" height="29" transform="translate(166.3 3.99) rotate(120)" /><rect x="32.5" y="65.5" width="3" height="29" /><rect x="32.5" y="65.5" width="3" height="29" transform="translate(86.28 10.56) rotate(60)" /><rect x="32.5" y="65.5" width="3" height="29" transform="translate(120.28 90.56) rotate(120)" /><rect x="64.5" y="65.5" width="3" height="29" /><rect x="64.5" y="65.5" width="3" height="29" transform="translate(102.28 -17.16) rotate(60)" /><rect x="64.5" y="65.5" width="3" height="29" transform="translate(168.28 62.84) rotate(120)" /></g>
              </svg>

              <img class="trees" src="/assets/img/svg/pict-sub.svg" alt="" />

              <svg class="svg-wave wave-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 1140">
                <defs>
                  <filter id="drop-shadow" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feComponentTransfer in="SourceAlpha">
                      <feFuncR type="discrete" tableValues="0.074" />
                      <feFuncG type="discrete" tableValues="0.384" />
                      <feFuncB type="discrete" tableValues="0.6" />
                    </feComponentTransfer>
                    <feGaussianBlur stdDeviation="8" />
                  </filter>
                </defs>
                <defs>
                  <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0" stop-color="#f7f8fa" />
                    <stop offset="1" stop-color="#ebeef3" />
                  </linearGradient>
                </defs>
                <path class="shadow" filter="url(#drop-shadow)" d="M2711,441 c-47,8-253,64-358,64c-123,1-224-15-322-16c-66-1-240,52-362,74c-130,23-287,15-470-23c-55-11-145-32-241-34 c-87-1-176,16-292,12c-163-6-239-88-389-88c-114,0-191,13-277,22 v210 h3000 V439 C2885,423,2803,425,2711,441 z" />
                <path class="snow" d="M2714,423c-99,18-245,70-350,70c-122,1-208-22-322-22c-101,0-228,45-356,66c-102,16-257.8,16-453-20 c-87.5-16.9-176-32-260-30c-126,3-180,21-292,19c-97-2-248-92-400-95c-91-1-191,13-281,26v703h3000V430C2907,418,2823,401,2714,423z" />
              </svg>
            </div>
          </section>

          <div class="background-white">
            <div class="content-block">
              <section class="terms-foreword" data-sct="foreword">
                <div class="js-inview">
                  <p class="rise-block">お探しのページは見つかりませんでした。</p>
                  <div class="terms-footer">
                    <a href="/" class="button">
                      <span class="button-bg in"></span>
                      <span class="button-i"><svg class="icon-return" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M27.47,29.93H8.77V27.88h18.7a5.32,5.32,0,0,0,0-10.64H8.77v-2h18.7a7.37,7.37,0,0,1,0,14.73Z" /><path d="M12.94,22.77,6.31,16.22l6.63-6.55,1.39,1.47L9.19,16.22l5.14,5.08Z" /></svg></span>
                      <div class="button-t slot-chars">
                        <div class="slot slot-t1 charwrap">ホームに戻る</div><div class="slot slot-t2 charwrap">ホームに戻る</div>
                      </div>
                    </a>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <Footer />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Footer from '~/components/Footer.vue';

export default {
  components: {
    Footer
  },
  data () {
    return {
      meta: {
        title: '404',
        url: 'https://www.snowsand.jp/',
      },
    };
  },
  head () {
    return {
      title: this.meta.title + '｜',
      meta: [
        { hid: 'og:url', property: 'og:url', content: this.meta.url },
      ],
    };
  },
};
</script>
