<template>
  <div data-barba="container" data-barba-namespace="home">
    <BannerPopup />

    <div class="scroll-window">
      <div class="scroll-content js-scrollAll">
        <div class="page-origin">
          <section class="sct-top  js-scroll" data-sct="top"></section>

          <section class="sct-mv  js-scroll  js-inview" data-sct="mv">
            <div class="js-img bg-img js-parallax" data-powy=".2" data-src="/assets/img/hero.jpg" data-src2x="/assets/img/hero-hi.jpg" data-srcmb="/assets/img/hero-mb-hi.jpg"></div>
            <div class="mv-label flex js-hov">
              <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150,10A140,140,0,0,0,10,150" /><path d="M10,150A140,140,0,0,0,150,290" /><path d="M150,290A140,140,0,0,0,290,150" /><path d="M290,150A140,140,0,0,0,150,10" /></svg>
              <div class="txt">冬季限定</div>
            </div>
            <div class="mv-content">
              <h2 class="mv-logo">
                <img class="logo-en" src="/assets/img/svg/logo-en.svg" alt="SNOWSAND" width="612" height="73" />
              </h2>
              <h3 class="mv-tagline">冬の記憶と美味しさを閉じ込めた<span class="t-wrap">贈りもの</span></h3>
            </div>
          </section>

          <section class="sct-concept flex  js-scroll" data-sct="concept">
            <a href="concept" class="mv-scroll scroll-to">
              <span class="rise-txt">
                <span class="icon"><img src="/assets/img/svg/arrow.svg" alt="UP" width="40" height="40" class="icon-down" /></span>
              </span>
            </a>

            <img class="trees" src="/assets/img/svg/pict-sub.svg" alt="" width="270" height="280" />

            <svg class="svg-snow snow1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><svg_snowflake /></svg>

            <div class="mv-wave">
              <svg class="svg-wave wave-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 750">
                <defs>
                  <filter id="drop-shadow" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feComponentTransfer in="SourceAlpha">
                      <feFuncR type="discrete" tableValues="0.074" />
                      <feFuncG type="discrete" tableValues="0.384" />
                      <feFuncB type="discrete" tableValues="0.6" />
                    </feComponentTransfer>
                    <feGaussianBlur stdDeviation="8" />
                  </filter>
                </defs>
                <defs>
                  <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0" stop-color="#f7f8fa" />
                    <stop offset="1" stop-color="#ebeef3" />
                  </linearGradient>
                </defs>
                <path class="shadow" filter="url(#drop-shadow)" d="M2711,53.9c-47,8-253,64-358,64c-123,1-224-15-322-16c-66-1-240,52-362,74c-130,23-287,15-470-23c-55-11-145-32-241-34 c-87-1-176,16-292,12c-163-6-239-88-389-88c-114,0-191,13-277,22v210h3000v-223C2885,35.9,2803,37.9,2711,53.9z" />
                <path class="snow" d="M2714,35.9c-99,18-245,70-350,70c-122,1-208-22-322-22c-101,0-228,45-356,66c-102,16-257.8,16-453-20 c-87.5-16.9-176-32-260-30c-126,3-180,21-292,19c-97-2-248-92-400-95c-91-1-191,13-281,26v703h3000v-710 C2907,30.9,2823,13.9,2714,35.9z" />
              </svg>
            </div>

            <div class="concept content-block">
              <p class="js-inview"><span class="rise-txt">今年も冬がやってきた</span></p>
              <p class="js-inview"><span class="rise-txt">息が白くなり</span> <span class="rise-txt">大切なあの人と会うことが</span><span class="rise-txt">楽しみになる季節</span></p>
              <p class="js-inview"><span class="rise-txt">私たちの牧場が</span> <span class="rise-txt">冬の光に包まれる頃につくる</span><br /><span class="rise-txt">お菓子がここにあります</span></p>
              <p class="js-inview"><span class="rise-txt">雪もミルクも白くやさしい</span> <span class="rise-txt t-wrap">長い夜にチョコレートが香る</span></p>
              <p class="js-inview"><span class="rise-txt">素材とおいしさにこだわった</span> <span class="rise-txt">北海道生まれのお菓子です</span></p>
            </div>
          </section>

          <section class="sct-visual1 background-base  js-scroll js-inview" data-sct="visual1">
            <Banner />
          </section>

          <section class="sct-latest flex background-base  js-scroll" data-sct="latest">
            <div class="content-block flex">
              <div class="pict">
                <img class="pict-1" src="/assets/img/svg/pict-1.svg" alt="" width="158" height="158" />
              </div>
              <NewsLatest />
            </div>
          </section>

          <section class="sct-about background-base  js-scroll" data-sct="about">
            <div class="content-block">
              <div class="about-body flex">
                <div class="">
                  <div class="about-head js-inview">
                    <p><span class="rise-txt">スノーサンドは</span></p>
                    <p><span class="rise-txt"><span class="dot-line about-tips" data-tips="1">カリッとしたクッキー</span>に</span></p>
                    <p><span class="rise-txt"><span class="dot-line rv about-tips" data-tips="2">しっとり生チョコ</span>をサンドした</span></p>
                    <p><span class="rise-txt">牛乳が美味しい時期にだけ作る</span></p>
                    <p><span class="rise-txt">冬季限定のお菓子です。</span></p>
                  </div>
                  <p class="about-text js-inview">
                    <span class="rise-txt-p">なかなか旅行に行けない今。冬を感じるお菓⼦を札幌と東京で販売します。いつかの冬に雪降る中で感じたドキドキやワクワクを思い出しながら、美味しいコーヒーとお菓⼦の⼀時をお楽しみください。</span>
                  </p>
                  <div class="about-scrollto js-inview">
                    <div class="rise-txt">
                      <div data-scroll-to="stores" class="button scroll-to">
                        <span class="button-bg in"></span>
                        <span class="button-i"><svg class="icon-bag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M32.19,36.32H8A1,1,0,0,1,7.29,36,1,1,0,0,1,7,35.25L8,20.84V12.49a1,1,0,0,1,1-1H31.19a1,1,0,0,1,1,1v8.42l1,14.34a1,1,0,0,1-1,1.07Zm-23.1-2h22L30.19,21V13.49H10v7.42Z" /><path d="M24.65,16.37a1,1,0,0,1-1-1V9c0-2-1.8-2.94-3.47-2.94S16.56,7.16,16.56,9v6.37a1,1,0,1,1-2,0V9c0-2.77,2.47-4.94,5.62-4.94S25.65,6.14,25.65,9v6.37A1,1,0,0,1,24.65,16.37Z" /></svg></span>
                        <div class="button-t slot-chars">
                          <div class="slot slot-t1 charwrap">販売場所はこちら</div><div class="slot slot-t2 charwrap">販売場所はこちら</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="about-img js-parallax  js-inview" data-powy="-.2">
                <div class="in">
                  <div class="js-img bg-img" data-src="/assets/img/sand-choco.gif" data-src2x="/assets/img/sand-choco.gif" data-srcmb="/assets/img/sand-choco-mb.gif"></div>
                  <div class="js-img bg-img tips-img-1" data-src="/assets/img/img-about-cookie.jpg" data-src2x="/assets/img/img-about-cookie-hi.jpg"></div>
                  <div class="js-img bg-img tips-img-2" data-src="/assets/img/img-about-choco.jpg" data-src2x="/assets/img/img-about-choco-hi.jpg"></div>
                </div>
              </div>
            </div>
          </section>

          <div class="about-wave background-base  js-scroll">
            <div class="about-wave-copy"></div>
            <img class="pict-2" src="/assets/img/svg/pict-2.svg" alt="" />

            <svg class="svg-wave wave-2 js-parallax" data-powy=".1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 760">
              <defs>
                <filter id="drop-shadow" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feComponentTransfer in="SourceAlpha">
                    <feFuncR type="discrete" tableValues="0.074" />
                    <feFuncG type="discrete" tableValues="0.384" />
                    <feFuncB type="discrete" tableValues="0.6" />
                  </feComponentTransfer>
                  <feGaussianBlur stdDeviation="8" />
                </filter>
              </defs>
              <defs>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="0" stop-color="#f7f8fa" />
                  <stop offset="1" stop-color="#ebeef3" />
                </linearGradient>
              </defs>
              <path class="shadow" filter="url(#drop-shadow)" d="M2711,441 c-47,8-253,64-358,64c-123,1-224-15-322-16c-66-1-240,52-362,74c-130,23-287,15-470-23c-55-11-145-32-241-34 c-87-1-176,16-292,12c-163-6-239-88-389-88c-114,0-191,13-277,22 v210 h3000 V439 C2885,423,2803,425,2711,441 z" />
              <path class="snow" d="M2714,423 c-99,18-245,70-350,70c-122,1-208-22-322-22c-101,0-228,45-356,66c-102,16-257.8,16-453-20 c-87.5-16.9-176-32-260-30c-126,3-180,21-292,19c-97-2-248-92-400-95c-91-1-191,13-281,26 v703h3000V430C2907,418,2823,401,2714,423z" />
            </svg>

            <img class="pict-3" src="/assets/img/svg/pict-3.svg" alt="" />
          </div>


          <section class="sct-products wheight  js-scroll" data-sct="products">
            <div class="content-block">
              <div class="l-section-title ">
                <h2 class="title js-inview"><span class="rise-txt">PRODUCTS</span></h2>
                <h3 class="subt js-inview"><span class="rise-txt">商品一覧</span></h3>
              </div>

              <ul class="products-list grid">
                <li class="prod ">
                  <div class="prod-thumb js-inview">
                    <div class="prod-thumb-default">
                      <div class="js-img bg-img  js-parallax" data-powy=".1" data-src="/assets/img/prod1-1.jpg" data-src2x="/assets/img/prod1-1-hi.jpg"></div>
                    </div>
                    <div class="prod-thumb-change">
                      <div class="js-img bg-img  js-parallax" data-powy=".1" data-src="/assets/img/prod1-2.jpg" data-src2x="/assets/img/prod1-2-hi.jpg"></div>
                    </div>
                  </div>
                  <div class="prod-info js-inview">
                    <h4><span class="rise-txt">スノーサンド 白</span></h4>
                    <p class="quantity"><span class="rise-txt">８個⼊</span></p>
                    <p><span class="rise-txt"><span class="price">¥1,580</span><span class="tax">（税込）</span></span></p>
                  </div>
                </li>
                <li class="prod">
                  <div class="prod-thumb js-inview">
                    <div class="prod-thumb-default">
                      <div class="js-img bg-img  js-parallax" data-powy=".1" data-src="/assets/img/prod2-1.jpg" data-src2x="/assets/img/prod2-1-hi.jpg"></div>
                    </div>
                    <div class="prod-thumb-change">
                      <div class="js-img bg-img  js-parallax" data-powy=".1" data-src="/assets/img/prod2-2.jpg" data-src2x="/assets/img/prod2-2-hi.jpg"></div>
                    </div>
                  </div>
                  <div class="prod-info js-inview">
                    <h4><span class="rise-txt">スノーサンド 白</span></h4>
                    <p class="quantity"><span class="rise-txt">５個⼊</span></p>
                    <p><span class="rise-txt"><span class="price">¥880</span><span class="tax">（税込）</span></span></p>
                  </div>
                </li>
                <li class="prod">
                  <div class="prod-thumb js-inview">
                    <div class="prod-thumb-default">
                      <div class="js-img bg-img  js-parallax" data-powy=".1" data-src="/assets/img/prod3-1.jpg" data-src2x="/assets/img/prod3-1-hi.jpg"></div>
                    </div>
                    <div class="prod-thumb-change">
                      <div class="js-img bg-img  js-parallax" data-powy=".1" data-src="/assets/img/prod3-2.jpg" data-src2x="/assets/img/prod3-2-hi.jpg"></div>
                    </div>
                  </div>
                  <div class="prod-info js-inview">
                    <h4><span class="rise-txt">スノーサンド 黒</span></h4>
                    <p class="quantity"><span class="rise-txt">８個⼊</span></p>
                    <p><span class="rise-txt"><span class="price">¥1,580</span><span class="tax">（税込）</span></span></p>
                  </div>
                </li>
                <li class="prod">
                  <div class="prod-thumb js-inview">
                    <div class="prod-thumb-default">
                      <div class="js-img bg-img  js-parallax" data-powy=".1" data-src="/assets/img/prod4-1.jpg" data-src2x="/assets/img/prod4-1-hi.jpg"></div>
                    </div>
                    <div class="prod-thumb-change">
                      <div class="js-img bg-img  js-parallax" data-powy=".1" data-src="/assets/img/prod4-2.jpg" data-src2x="/assets/img/prod4-2-hi.jpg"></div>
                    </div>
                  </div>
                  <div class="prod-info js-inview">
                    <h4><span class="rise-txt">スノーサンド 黒</span></h4>
                    <p class="quantity"><span class="rise-txt">５個⼊</span></p>
                    <p><span class="rise-txt"><span class="price">¥880</span><span class="tax">（税込）</span></span></p>
                  </div>
                </li>
              </ul>
              <div class="js-inview">
                <div class="hr"><span class="rise-txt">***</span></div>
                <div class="products-note rise-txt-p">
                  <dl>
                    <dt>賞味期限</dt><dd>製造日から14日間</dd>
                    <dt>保存条件</dt><dd>直射日光を避け18℃以下で保存</dd>
                  </dl>
                </div>
              </div>
            </div>
          </section>

          <section class="sct-features  js-inview" data-sct="features">
            <div class="sticky-content-area" data-area="features">
              <div class="sticky-content" data-scroll-target="features">
                <div class="features grid content-block">
                  <div class="features-header  js-inview">
                    <h3 class="s-section-title rise-txt">
                      <span class="icon">
                        <svg class="icon-snow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><g class="snow"><rect x="18.5" y="5.5" width="3" height="29" /><rect x="18.5" y="5.5" width="3" height="29" transform="translate(27.32 -7.32) rotate(60)" /><rect x="18.5" y="5.5" width="3" height="29" transform="translate(47.32 12.68) rotate(120)" /></g></svg>
                      </span><span class="t">スノーサンドの特徴</span>
                    </h3>

                    <ul class="features-select  js-inview">
                      <li class="features-option selected">
                        <div class="features-option-body js-hov rise-txt" data-tab-option="1">
                          <div class="number">1.</div>
                          <div class="features-option-inner">
                            <div class="option-title slot-chars">
                              <div class="slot slot-t1 charwrap">Chocolate</div>
                              <div class="slot slot-t2 charwrap">Chocolate</div>
                            </div>
                            <div class="option-border"></div>
                            <div class="option-subt">チョコレート</div>
                          </div>
                        </div>
                      </li>
                      <li class="features-option">
                        <div class="features-option-body js-hov rise-txt" data-tab-option="2">
                          <div class="number">2.</div>
                          <div class="features-option-inner">
                            <div class="option-title slot-chars">
                              <div class="slot slot-t1 charwrap">Cookie</div>
                              <div class="slot slot-t2 charwrap">Cookie</div>
                            </div>
                            <div class="option-border"></div>
                            <div class="option-subt">クッキー</div>
                          </div>
                        </div>
                      </li>
                      <li class="features-option">
                        <div class="features-option-body js-hov rise-txt" data-tab-option="3">
                          <div class="number">3.</div>
                          <div class="features-option-inner">
                            <div class="option-title slot-chars">
                              <div class="slot slot-t1 charwrap">Shape</div>
                              <div class="slot slot-t2 charwrap">Shape</div>
                            </div>
                            <div class="option-border"></div>
                            <div class="option-subt">形状</div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="features-tabs">
                    <div class="features-tab tab-1 active  feature-mb-ac mb-accordion circle-button">
                      <input type="checkbox" class="ac-toggle" id="feature1" checked />
                      <div class="toggle-icon">

                          <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150,10A140,140,0,1,0,290,150,140,140,0,0,0,150,10" /></svg>
                          <div class="txt icon">
                            <div class="el1"></div><div class="el2"></div><div class="el3"></div>
                          </div>

                      </div>

                      <div class="ac-header">
                        <div class="ac-name">
                          <div class="number">1.</div>
                          <div class="ac-name-title">
                            <label for="feature1">Chocolate</label>
                          </div>
                          <div class="ac-name-subt">チョコレート</div>
                        </div>
                      </div>

                      <div class="ac-body features-tab-grid">
                        <div class="feature-img fig-1 double">
                          <div class="js-img bg-img img1" data-src="/assets/img/feature1-1.jpg" data-src2x="/assets/img/feature1-1-hi.jpg"></div>
                          <div class="js-img bg-img img2" data-src="/assets/img/feature1-2.jpg" data-src2x="/assets/img/feature1-2-hi.jpg"></div>
                        </div>
                        <div class="feature-text">
                          <div class="feature-img-s">
                            <div class="js-img bg-img" data-src="/assets/img/feature1-3.jpg" data-src2x="/assets/img/feature1-3-hi.jpg"></div>
                          </div>
                          <div class="feature-tab-title">
                            自ら育てる放牧牛乳が<span class="t-wrap">一番美味しい</span>季節にだけ作る <span class="t-wrap">生ホワイトチョコレート</span>＆<span class="t-wrap">生チョコレート</span>
                          </div>
                          <p class="feature-tab-body">きのとやグループで運営する直営牧場で絞った放牧⽜乳を使⽤しています。⼈、⽜、地球が喜ぶ育て⽅で作った⽜乳は幸せの味がします。放牧では⽜本来の⾃然な⽜乳ができるため、脂肪分が⾼くなる冬の⽜乳が一番美味しく、チョコレートになめらかさと優しい風味を加えています。</p>
                        </div>
                      </div>
                    </div>

                    <div class="features-tab tab-2  feature-mb-ac mb-accordion circle-button">
                      <input type="checkbox" class="ac-toggle" id="feature2" checked />
                      <div class="toggle-icon">
                        <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150,10A140,140,0,1,0,290,150,140,140,0,0,0,150,10" /></svg>
                        <div class="txt icon">
                          <div class="el1"></div><div class="el2"></div><div class="el3"></div>
                        </div>
                      </div>

                      <div class="ac-header">
                        <div class="ac-name">
                          <div class="number">2.</div>
                          <div class="ac-name-title">
                            <label for="feature2">Cookie</label>
                          </div>
                          <div class="ac-name-subt">クッキー</div>
                        </div>
                      </div>

                      <div class="ac-body features-tab-grid">
                        <div class="feature-img fig-2 single">
                          <div class="js-img bg-img img1" data-src="/assets/img/feature2-1.jpg" data-src2x="/assets/img/feature2-1-hi.jpg"></div>
                        </div>
                        <div class="feature-text">
                          <div class="feature-img-s">
                            <div class="js-img bg-img" data-src="/assets/img/feature2-2.jpg" data-src2x="/assets/img/feature2-2-hi.jpg"></div>
                          </div>
                          <div class="feature-tab-title">
                            15年間の挟み焼きの研究によって完成した カリカリのラングドシャ<span class="t-wrap">クッキー</span>
                          </div>
                          <p class="feature-tab-body">クッキーはカリカリとした⾷感とバターの⾵味が⼤事。そのために15年間研究してたどり着いたのが、通常オーブンで焼くラングドシャクッキーを”挟み焼き”することでカリカリに仕上げたクッキーです。なめらかな⽣チョコレートとも相性抜群です。</p>
                        </div>
                      </div>
                    </div>

                    <div class="features-tab tab-3  feature-mb-ac mb-accordion circle-button">
                      <input type="checkbox" class="ac-toggle" id="feature3" checked />
                      <div class="toggle-icon">
                        <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150,10A140,140,0,1,0,290,150,140,140,0,0,0,150,10" /></svg>
                        <div class="txt icon">
                          <div class="el1"></div><div class="el2"></div><div class="el3"></div>
                        </div>
                      </div>

                      <div class="ac-header">
                        <div class="ac-name">
                          <div class="number">3.</div>
                          <div class="ac-name-title">
                            <label for="feature3">Shape</label>
                          </div>
                          <div class="ac-name-subt">形状</div>
                        </div>
                      </div>

                      <div class="ac-body features-tab-grid">
                        <div class="feature-img fig-3 single">
                          <div class="js-img bg-img img2" data-src="/assets/img/feature3-1.jpg" data-src2x="/assets/img/feature3-1-hi.jpg"></div>
                        </div>
                        <div class="feature-text">
                          <div class="feature-img-s">
                            <div class="js-img bg-img" data-src="/assets/img/feature3-2.jpg" data-src2x="/assets/img/feature3-2-hi.jpg"></div>
                          </div>
                          <div class="feature-tab-title">
                            食べやすく <span class="t-wrap">見ていて楽しい形状</span>
                          </div>
                          <p class="feature-tab-body">カリカリの硬いクッキーに柔らかい⽣チョコレートを挟むと、中⾝のチョコレートがこぼれ落ちやすくなります。それをカバーするために横から漏れにくい構造をつくりました。ただ囲うだけでなく、横から⽣チョコレートがチラリとみえることで、食べる前から美味しそうな⾒た目も目指しました。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="sct-package js-inview" data-sct="package">
            <div class="sticky-content-area" data-area="package">
              <div class="sticky-content" data-scroll-target="package">
                <div class="package grid content-block">
                  <div class="package-img  f-img-in f-img-out">
                    <div class="js-img bg-img ri-in" data-src="/assets/img/img-package.jpg" data-src2x="/assets/img/img-package-hi.jpg"></div>
                  </div>
                  <div class="package-text">
                    <h3 class="s-section-title">
                      <div class="f-txt-in f-txt-out">
                        <span class="icon">
                          <svg class="icon-snow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><g class="snow"><rect x="18.5" y="5.5" width="3" height="29" /><rect x="18.5" y="5.5" width="3" height="29" transform="translate(27.32 -7.32) rotate(60)" /><rect x="18.5" y="5.5" width="3" height="29" transform="translate(47.32 12.68) rotate(120)" /></g></svg>
                        </span>
                        <span class="t">パッケージ</span>
                      </div>
                    </h3>
                    <div class="f-txt-in f-txt-out">
                      <div class="block-title">
                        山の版画家 大谷一良さんの絵をフィーチャー
                      </div>
                      <p class="block-body">北海道の持つ冬や雪を象徴するイメージを探し求めている内にたどり着いたのが⼤⾕さんの絵でした。どこの⼭というモチーフがあるわけではなく、どこかでみた⼭の印象から作られている⼭の版画。我々が目指す、「⾷べる⼈の⼼の中にある冬」を象徴する絵として今回ブランドのメインモチーフに使わせていただきました。</p>
                      <div class="block-buttonarea">
                        <a href="/gallery/" class="button size-l">
                          <span class="button-bg in"></span>
                          <span class="button-i"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><polygon points="8.46 21 27.63 21 20.59 27.82 21.98 29.25 31.54 20 21.98 10.75 20.59 12.19 27.63 19 8.46 19 8.46 21" /></svg></span>
                          <div class="button-t slot-chars">
                            <div class="slot slot-t1 charwrap">大谷一良ギャラリー</div>
                            <div class="slot slot-t2 charwrap">大谷一良ギャラリー</div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="sct-maker  js-inview" data-sct="maker">
            <div class="sticky-content-area" data-area="maker">
              <div class="sticky-content" data-scroll-target="maker">
                <div class="maker grid content-block">
                  <div class="maker-text">
                    <h3 class="s-section-title">
                      <div class="f-txt-in">
                        <span class="icon">
                          <svg class="icon-snow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><g class="snow"><rect x="18.5" y="5.5" width="3" height="29" /><rect x="18.5" y="5.5" width="3" height="29" transform="translate(27.32 -7.32) rotate(60)" /><rect x="18.5" y="5.5" width="3" height="29" transform="translate(47.32 12.68) rotate(120)" /></g></svg>
                        </span><span class="t">作り手</span>
                      </div>
                    </h3>
                    <div class="f-txt-in">
                      <div class="block-title">
                        きのとや
                      </div>
                      <p class="block-body">スノーサンドは、1983年創業の札幌の洋菓子店である、きのとやが作りました。KINOTOYA BAKEの焼きたてチーズタルト、北海道ミルククッキー札幌農学校、酪農チーズプリンなど、札幌市民に愛され北海道を代表する洋菓子を作り続けることを目指しています。38年磨き続けた技術と感性で、雪景色の北海道・札幌より心を込めてお届けいたします。</p>
                    </div>
                  </div>
                  <div class="maker-img  f-img-in">
                    <div class="js-img bg-img ri-in" data-src="/assets/img/img-maker.jpg" data-src2x="/assets/img/img-maker-hi.jpg"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="js-scroll js-inview">
            <section class="sct-visual2 vheight" data-sct="visual2">
              <div class="js-img bg-img ri-in  js-parallax" data-powy=".1" data-src="/assets/img/visual3.jpg" data-src2x="/assets/img/visual3-hi.jpg"></div>
            </section>
          </div>

          <section class="sct-stores  js-scroll" data-sct="stores">
            <div class="l-section-title">
              <h2 class="title js-inview"><span class="rise-txt">STORE</span></h2>
              <h3 class="subt js-inview"><span class="rise-txt">販売店情報</span></h3>
            </div>
            <Store />
          </section>

          <section class="sct-news  js-scroll" data-sct="news">
            <div class="news content-block grid">
              <div class="news-title  js-inview">
                <div class="l-section-title">
                  <h2 class="title"><span class="rise-txt">NEWS</span></h2>
                  <h3 class="subt"><span class="rise-txt">お知らせ</span></h3>
                </div>
              </div>

              <NewsArchive />
            </div>
          </section>

          <div class="js-scroll js-inview">
            <section class="sct-visual3 vheight" data-sct="visual3">
              <div class="js-img bg-img ri-in  js-parallax" data-powy=".1" data-src="/assets/img/visual4.jpg" data-src2x="/assets/img/visual4-hi.jpg"></div>
            </section>
          </div>

          <Footer />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Banner from '~/components/Banner.vue';
import BannerPopup from '~/components/BannerPopup.vue';
import Footer from '~/components/Footer.vue';
import NewsLatest from '~/components/NewsLatest.vue';
import NewsArchive from '~/components/NewsArchive.vue';
import Store from '~/components/Store.vue';
import svg_snowflake from '~/components/svg-snowflake.vue';

export default {
  components: {
    Banner,
    BannerPopup,
    Footer,
    NewsLatest,
    NewsArchive,
    Store,
    svg_snowflake,
  },
  head () {
    return {
      title: 'SNOW SAND ＜スノーサンド＞　冬季限定生チョコレートサンドクッキー',
      titleTemplate: '',
      meta: [
        { hid: 'og:title', property: 'og:title', content: 'SNOW SAND ＜スノーサンド＞　冬季限定生チョコレートサンドクッキー' },
      ],
    };
  },
};
</script>
