<template>
  <div data-barba="container" data-barba-namespace="sub">
    <div class="scroll-window">
      <div class="scroll-content js-scrollAll">
        <div class="page-origin">
          <section class="sct-top" data-sct="top"></section>
          <section class="sct-pagetop background-base flex" data-sct="pagetop">
            <div class="pagetop-content">
              <h2 class="page-title">
                Privacy Policy
              </h2>
              <h3 class="page-title-ja">プライバシーポリシー</h3>
            </div>

            <div class="pagetop-wave">
              <svg class="svg-snow snow1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><svg_snowflake /></svg>
              <svg class="svg-snow snow2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><svg_snowflake /></svg>
              <img class="trees" src="/assets/img/svg/pict-sub.svg" alt="" />

              <svg class="svg-wave wave-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 1140">
                <defs>
                  <filter id="drop-shadow" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feComponentTransfer in="SourceAlpha">
                      <feFuncR type="discrete" tableValues="0.074" />
                      <feFuncG type="discrete" tableValues="0.384" />
                      <feFuncB type="discrete" tableValues="0.6" />
                    </feComponentTransfer>
                    <feGaussianBlur stdDeviation="8" />
                  </filter>
                </defs>
                <defs>
                  <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0" stop-color="#f7f8fa" />
                    <stop offset="1" stop-color="#ebeef3" />
                  </linearGradient>
                </defs>
                <path class="shadow" filter="url(#drop-shadow)" d="M2711,441 c-47,8-253,64-358,64c-123,1-224-15-322-16c-66-1-240,52-362,74c-130,23-287,15-470-23c-55-11-145-32-241-34 c-87-1-176,16-292,12c-163-6-239-88-389-88c-114,0-191,13-277,22 v210 h3000 V439 C2885,423,2803,425,2711,441 z" />
                <path class="snow" d="M2714,423c-99,18-245,70-350,70c-122,1-208-22-322-22c-101,0-228,45-356,66c-102,16-257.8,16-453-20 c-87.5-16.9-176-32-260-30c-126,3-180,21-292,19c-97-2-248-92-400-95c-91-1-191,13-281,26v703h3000V430C2907,418,2823,401,2714,423z" />
              </svg>
            </div>
          </section>

          <div class="background-white">
            <div class="content-block">
              <section class="terms-foreword" data-sct="foreword">
                <div class="js-inview">
                  <p>株式会社Kコンフェクト では、弊社の運営するウェブサイト「https://www.snowsand.jp/」（以下、当ウェブサイトといいます）をご利用いただくお客様の個人情報をお守りすることを大変重要なことと考えております。</p>
                  <p>Kコンフェクトは、当ウェブサイトでお客様、お客様の個人情報を厳重に管理してまいります。</p>
                </div>
              </section>

              <section class="terms-article" data-sct="article-1">
                <div class="js-inview">
                  <dl class="terms-data">
                    <dt><span>個人情報について</span></dt>
                    <dd>
                      <p>個人情報とは、当ウェブサイトでお客様から頂いたお問い合せ履歴の情報をいいます。</p>
                    </dd>
                  </dl>
                </div>
              </section>
              <section class="terms-article" data-sct="article-2">
                <div class="js-inview">
                  <dl class="terms-data">
                    <dt><span>個人情報の収集について</span></dt>
                    <dd>
                      <p>通常当ウェブサイトを閲覧する場合、お客様に関するいかなる情報も入力や開示する必要はなく、匿名のままご自由にご利用いただけます。</p>
                      <p>その際以下情報についてCookie等を利用して取得しております。</p>
                      <ul>
                        <li>アクセス端末の機体種別、OSなどの情報</li>
                        <li>端末ごとに割り振られる広告識別子番号</li>
                        <li>IPアドレス情報</li>
                        <li>インターネット接続に関する情報</li>
                        <li>位置情報</li>
                        <li>リファラー(参照元)情報</li>
                        <li>閲覧URL、日時などに関するタイムスタンプ情報</li>
                        <li>サービスの利用に関する情報</li>
                        <li>サーバログ情報</li>
                      </ul>
                      <p>これらの情報の利用目的につきましては「個人情報の利用目的について」を、管理につきましては「個人情報の管理について」をご参照下さい。</p>
                    </dd>
                  </dl>
                </div>
              </section>
              <section class="terms-article" data-sct="article-3">
                <div class="js-inview">
                  <dl class="terms-data">
                    <dt><span>個人情報の利用目的について</span></dt>
                    <dd>
                      <p>当ウェブサイトは個人情報を以下の目的で利用させていただきます。</p>
                      <ul>
                        <li>ウェブサイト運営上必要なログ解析に利用。</li>
                      </ul>
                    </dd>
                  </dl>
                </div>
              </section>
              <section class="terms-article" data-sct="article-4">
                <div class="js-inview">
                  <dl class="terms-data">
                    <dt><span>個人情報の管理について</span></dt>
                    <dd>
                      <p>個人情報の紛失、破壊、改ざん及び漏洩などを防止するため、不正アクセス、コンピューターウイルス等に対する適正な情報セキュリティ対策を行います。</p>
                    </dd>
                  </dl>
                </div>
              </section>
              <section class="terms-article" data-sct="article-5">
                <div class="js-inview">
                  <dl class="terms-data">
                    <dt><span>個人情報の開示について</span></dt>
                    <dd>
                      <ul>
                        <li>お客様の同意をいただいた場合。</li>
                        <li>弊社と個人情報の保護に関する取り決めを行っている業務委託業者に対して、お客様に明示した収集目的を実施するために情報を開示する必要がある場合。</li>
                        <li>統計的なデータとして、お客様個人を識別できない状態に加工した場合。</li>
                        <li>行政機関から法的業務を伴う要請を受けた場合。</li>
                        <li>お客様の生命、健康、財産の重大な利益を保持するために必要と判断した場合。</li>
                      </ul>
                    </dd>
                  </dl>
                </div>
              </section>
              <section class="terms-article" data-sct="article-6">
                <div class="js-inview">
                  <dl class="terms-data">
                    <dt><span>本ポリシーの改訂について</span></dt>
                    <dd>
                      <p>弊社では、必要に応じて本ポリシーを改訂することがあります。<br/>その場合は、このウェブページにおいて変更を告知いたします。</p>
                    </dd>
                  </dl>
                </div>
              </section>
              <section class="terms-article" data-sct="article-7">
                <div class="js-inview">
                  <dl class="terms-data">
                    <dt><span>適用範囲</span></dt>
                    <dd>
                      <p>以上のプライバシーポリシーに関する適用範囲は、当ウェブサイト内において適用されます。 原則として「https://www.snowsand.jp/」のアドレスを含むページが当ウェブサイト内となります。 弊社では、お客様の個人情報を大切にお取扱いしながら、今後も質の高いサービスをご提供し、お客様にご満足いただけるよう努力してまいります。弊社のお客様の個人情報のお取扱いについて ご賛同いただきますよう、よろしくお願い致します。</p>
                    </dd>
                  </dl>
                </div>
              </section>

              <div class="terms-footer js-inview">
                <div class="rise-block">
                  <a href="/" class="button">
                    <span class="button-bg in"></span>
                    <span class="button-i"><svg class="icon-return" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M27.47,29.93H8.77V27.88h18.7a5.32,5.32,0,0,0,0-10.64H8.77v-2h18.7a7.37,7.37,0,0,1,0,14.73Z" /><path d="M12.94,22.77,6.31,16.22l6.63-6.55,1.39,1.47L9.19,16.22l5.14,5.08Z" /></svg></span>
                    <div class="button-t slot-chars">
                      <div class="slot slot-t1 charwrap">ホームに戻る</div><div class="slot slot-t2 charwrap">ホームに戻る</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <Footer />

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Footer from '~/components/Footer.vue';
import svg_snowflake from '~/components/svg-snowflake.vue';

export default {
  components: {
    Footer,
    svg_snowflake
  },
  data () {
    return {
      meta: {
        title: 'プライバシーポリシー',
        description: 'SNOW SAND ＜スノーサンド＞ のプライバシーポリシーページです。',
        type: 'article',
        url: 'https://www.snowsand.jp/privacy/',
      },
    };
  },
  head () {
    return {
      title: this.meta.title + '｜',
      meta: [
        { hid: 'description', name: 'description', content: this.meta.description },
        { hid: 'og:type', property: 'og:type', content: this.meta.type },
        { hid: 'og:title', property: 'og:title', content: this.meta.title + '｜SNOW SAND ＜スノーサンド＞' },
        { hid: 'og:description', property: 'og:description', content: this.meta.description },
        { hid: 'og:url', property: 'og:url', content: this.meta.url },
      ],
    };
  },
};
</script>
