<template>
  <div class="">
    <div class="popup-banner">
      <div class="popup-banner-bg"></div>
      <div class="popup-banner-close circle-button">
        <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150,10A140,140,0,1,0,290,150,140,140,0,0,0,150,10" /></svg>
        <div class="txt in">
          <div class="el el1"></div><div class="el el2"></div>
        </div>
      </div>

      <div class="popup-banner-inner js-inview">
        <div class="popup-banner-thumb">
          <div class="js-img bg-img" data-src="/assets/img/pp-banner.jpg" data-src2x="/assets/img/pp-banner-hi.jpg"></div>
        </div>

        <div class="popup-banner-text">
          <div>
            <div class="banner-text-content">
              <div class="title">数量限定<span class="t-wrap">オンライン販売</span></div>
              <div class="sub">＠高島屋オンラインストア</div>

              <div class="body">
                &thinsp;2&#8202;.&#8202;17&thinsp;から&thinsp;3&#8202;.&#8202;11&thinsp;まで販売いたします。お届けは&thinsp;3&#8202;.&#8202;8&thinsp;-&thinsp;3&#8202;.&#8202;14&thinsp;の間になり<span class="t-wrap">ます。</span>
                <!-- 矢印 -->
                <!-- <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123.37 66.25" widt="60" height="32"><path d="M118.54,5.27c-3.88,21-34.44,49.09-53.07,47.17C52.55,51.1,52.63,36,60.42,34.75c8-1.33,17.2,10,0,20.21C41,66.51,5.67,56.65,5.67,56.65l12.64-6.74" /></svg> -->
              </div>
            </div>

            <div class="popup-banner-button">
              <a href="https://www.takashimaya.co.jp/shopping/gift/search.html?categoryLabel=高島屋のギフト&naviCd=C1000000000&currentNaviCd=C1000000000&searchKeywordKbn=suggest&keywordInclude=スノーサンド&%24csrfToken=J5eXYOcL9jUtZKjUi82NKud0WWU4sQHUmHDgo1%2F6tas%3D" class="button" aria-label="高島屋オンラインストア">
                <span class="button-bg in"></span>
                <span class="button-i"><svg class="icon-bag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M32.19,36.32H8A1,1,0,0,1,7.29,36,1,1,0,0,1,7,35.25L8,20.84V12.49a1,1,0,0,1,1-1H31.19a1,1,0,0,1,1,1v8.42l1,14.34a1,1,0,0,1-1,1.07Zm-23.1-2h22L30.19,21V13.49H10v7.42Z" /><path d="M24.65,16.37a1,1,0,0,1-1-1V9c0-2-1.8-2.94-3.47-2.94S16.56,7.16,16.56,9v6.37a1,1,0,1,1-2,0V9c0-2.77,2.47-4.94,5.62-4.94S25.65,6.14,25.65,9v6.37A1,1,0,0,1,24.65,16.37Z" /></svg></span>
                <div class="button-t slot-chars">
                  <div class="slot slot-t1 charwrap">ご購入はこちら</div><div class="slot slot-t2 charwrap">ご購入はこちら</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a href="https://www.takashimaya.co.jp/shopping/gift/search.html?categoryLabel=高島屋のギフト&naviCd=C1000000000&currentNaviCd=C1000000000&searchKeywordKbn=suggest&keywordInclude=スノーサンド&%24csrfToken=J5eXYOcL9jUtZKjUi82NKud0WWU4sQHUmHDgo1%2F6tas%3D" class="fixed-banner-button" aria-label="高島屋オンラインストア">
      <div class="fixed-banner-button-inner">
        <span class="button-bg in"></span>
        <span class="button-i"><svg class="icon-bag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M32.19,36.32H8A1,1,0,0,1,7.29,36,1,1,0,0,1,7,35.25L8,20.84V12.49a1,1,0,0,1,1-1H31.19a1,1,0,0,1,1,1v8.42l1,14.34a1,1,0,0,1-1,1.07Zm-23.1-2h22L30.19,21V13.49H10v7.42Z" /><path d="M24.65,16.37a1,1,0,0,1-1-1V9c0-2-1.8-2.94-3.47-2.94S16.56,7.16,16.56,9v6.37a1,1,0,1,1-2,0V9c0-2.77,2.47-4.94,5.62-4.94S25.65,6.14,25.65,9v6.37A1,1,0,0,1,24.65,16.37Z" /></svg></span>
      </div>
    </a>

  </div>
</template>
