<template>
  <div class="banner rise-block">

    <div class="vheight">
      <div class="banner-bg js-img bg-img  js-parallax" data-powy='.2' data-src="/assets/img/banner-bg_2.jpg" data-src2x="/assets/img/banner-bg_2-hi.jpg"></div>
      <div class="banner-txt js-img bg-img" data-src="/assets/img/banner-txt_2.png" data-src2x="/assets/img/banner-txt_2-hi.png"></div>
    </div>

  </div>
</template>
