<template>
  <a href="https://twitter.com/snowsand_jp" class="circle-button">
    <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150,10A140,140,0,1,0,290,150,140,140,0,0,0,150,10" /></svg>
    <div class="txt">
      <div class="icon slot-chars">
        <div class="slot slot-t1">
          <span>
            <svg class="i-tw" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><title>TWITTER</title><path d="M37.8,10.26a14,14,0,0,1-4,1.11,7,7,0,0,0,3.08-3.91A13.72,13.72,0,0,1,32.4,9.17,7,7,0,0,0,20.27,14a7.81,7.81,0,0,0,.18,1.62A19.84,19.84,0,0,1,6,8.24a7.12,7.12,0,0,0,2.17,9.44A7,7,0,0,1,5,16.79v.09a7.07,7.07,0,0,0,5.62,6.94,6.84,6.84,0,0,1-3.16.12A7,7,0,0,0,14,28.85a14,14,0,0,1-8.71,3,13,13,0,0,1-1.67-.1A19.66,19.66,0,0,0,14.37,35c12.9,0,20-10.78,20-20.13,0-.3,0-.61,0-.91A14.34,14.34,0,0,0,37.8,10.26Z" /></svg>
          </span>
        </div>
        <div class="slot slot-t2">
          <span>
            <svg class="i-tw" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><title>TWITTER</title><path d="M37.8,10.26a14,14,0,0,1-4,1.11,7,7,0,0,0,3.08-3.91A13.72,13.72,0,0,1,32.4,9.17,7,7,0,0,0,20.27,14a7.81,7.81,0,0,0,.18,1.62A19.84,19.84,0,0,1,6,8.24a7.12,7.12,0,0,0,2.17,9.44A7,7,0,0,1,5,16.79v.09a7.07,7.07,0,0,0,5.62,6.94,6.84,6.84,0,0,1-3.16.12A7,7,0,0,0,14,28.85a14,14,0,0,1-8.71,3,13,13,0,0,1-1.67-.1A19.66,19.66,0,0,0,14.37,35c12.9,0,20-10.78,20-20.13,0-.3,0-.61,0-.91A14.34,14.34,0,0,0,37.8,10.26Z" /></svg>
          </span>
        </div>
      </div>
    </div>
  </a>
</template>
