<template>
  <div class="latest-news">
    <div class="js-inview">

      <h2 class="latest-news-title">
        <span class="rise-txt">NEWS</span>
      </h2>

      <div class="">
        <p class="latest-news-content">
          <span class="rise-txt-p">西武池袋本店（店舗）ならびに横浜高島屋（店舗 / オンラインストア）での販売について告知致しました。</span>
        </p>
        <div class="latest-news-date flex">
          <p class="date">
            <span class="rise-txt-p">2021&#8202;.&#8202;02&#8202;.&#8202;17</span>
          </p>
          <p class="more"><a data-scroll-to="news" class="scroll-to a-uline"><span class="rise-txt-p">MORE</span></a></p>
        </div>
      </div>

    </div>
  </div>
</template>