<template>
  <div class="news-body">
    <ul class="news-archives js-inview">

      <li class="">
        <div class="news-post rise-block">
          <span class="border"></span>
          <p class="news-content">西武池袋本店（店舗）ならびに横浜高島屋（店舗 / オンラインストア）での販売について告知致しました。</p>
          <div class="news-date">
            <p class="date">2021&#8202;.&#8202;02&#8202;.&#8202;17</p>
          </div>
        </div>
      </li>

      <li class="">
        <div class="news-post rise-block">
          <span class="border"></span>
          <p class="news-content">きのとやオンラインショップでの通信販売は終了いたしました。大変好評を頂きありがとうございました。</p>
          <div class="news-date">
            <p class="date">2021&#8202;.&#8202;02&#8202;.&#8202;12</p>
          </div>
        </div>
      </li>
      <li class="">
        <div class="news-post rise-block">
          <span class="border"></span>
          <p class="news-content">札幌の自社工場から記者会見を実施しました</p>
          <div class="news-date">
            <p class="date">2021&#8202;.&#8202;01&#8202;.&#8202;20</p>
          </div>
        </div>
      </li>
      <li class="">
        <div class="news-post rise-block">
          <span class="border"></span>
          <p class="news-content">ブランドサイト公開しました</p>
          <div class="news-date">
            <p class="date">2021&#8202;.&#8202;01&#8202;.&#8202;20</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>