<template>
  <aside class="splash">
    <div class="splash-inner">
      <svg class="splash-indicator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150,10A140,140,0,1,0,290,150,140,140,0,0,0,150,10" /></svg>
      <div class="splash-copy"></div>
      <div class="splash-logo"><img class="logo-tate" src="/assets/img/svg/logo-tate.svg" alt="スノーサンド" width="92" height="868" /></div>
    </div>
  </aside>
</template>