<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head>
{{ HEAD }}
</head>
<body>
{{ APP }}

<noscript>
  <div class="alert noscript" aria-hidden="true">
    <div class="alert-body alert-noscript">このWebサイトを利用するためにはJavaScriptを有効にする必要があります。<br><a href="https://www.enable-javascript.com/ja/" rel="noopener" target="_blank">あなたのWebブラウザーでJavaScriptを有効にする方法</a>を参照してください。</div>
  </div>
</noscript>
<div class="alert" aria-hidden="true">
  <div class="alert-body alert-brows">ご利用中のブラウザはサポート対象外です。<br>アップデートいただくか最新のブラウザをダウンロードしてください。<br>推奨：Google Chrome、Safari、Firefox、Microsoft Edge（各最新バージョン）</div>
  <script>
  if (
  window.navigator.userAgent.toLowerCase().indexOf('trident/7') !== -1
  || ( window.navigator.userAgent.toLowerCase().indexOf("msie") !== -1 && window.navigator.userAgent.toLowerCase().indexOf('opera') === -1 )
  ){
    document.querySelector('html').classList.add('oldbrowser');
  }
  </script>
</div>
</body>
</html>