<template>
  <div>
    <Splash />
    <Header />
    <div class="pagenavi-ovarlay"></div>
    <PageNavi />

    <div data-barba="wrapper" class="site-wrapper">
      <nuxt />
    </div>

    <div class="scroll-height"></div>
    <div class="background"></div>
    <div class="background-package">
      <div class="js-img bg-img" data-src="/assets/img/bg-package.jpg"></div>
    </div>
  </div>
</template>

<script>
import Splash from '~/components/Splash.vue';
import PageNavi from '~/components/PageNavi.vue';
import Header from '~/components/Header.vue';

export default {
  components: {
    Splash,
    PageNavi,
    Header,
  },
};
</script>